<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
	
					<h4 class="card-title">
					<a th:href="@{/habitacion/crear}" class="btn btn-primary">Crear Habitacion</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Numero De Habitacion</th>
							<th>Tipo Habitacion</th>
							<th>Precio Habitacion</th>
							<th>Editar</th>
							<th>Eliminar</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="habitacion: ${Habitaciones}">
							<!--<td><a th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.ci}"></a></td> -->
							<td th:text="${habitacion.numero}"></td>
							<td th:text="${habitacion.tipoHabitacion.nombre}"></td>
							<td th:text="${habitacion.tipoHabitacion.precio}"></td>

							<td><a class="btn btn-primary btn-sm"
								th:href="@{/habitacion/editar/} + ${habitacion.id}" th:text="'Editar'"></a></td> 
								
					<td><a class="btn btn-danger btn-sm"
								th:href="@{/habitacion/eliminar/} + ${habitacion.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>