<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div th:replace="layout/layout :: alerts"></div>
    <div class="py-4">

        <div class="card bg-light text-black">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <form th:action="@{/admin/tipopago/crear}"  method="post">
                    <input type="hidden" th:value="${reserva.id}" th:id="${'reservaid'+reserva.id}" th:name="${'reservaid'+reserva.id}"/>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Check-In</label>
                        <div class="col-sm-6">
                            <input type="date" th:value="${reserva.checkIn}"
                                   class="form-control"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre Cliente</label>
                        <div class="col-sm-6">
                            <input type="text" th:value="${reserva.cliente.nombre_completo}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">CI Cliente</label>
                        <div class="col-sm-6">
                            <input type="text" th:value="${reserva.cliente.ci}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Check-Out</label>
                        <div class="col-sm-6">
                            <input type="date" th:value="${reserva.checkOut}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Cantidad de Habitaciones</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${reserva.cantidadHabitaciones}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Días de Hospedaje</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${dias}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costo de Hospedaje</label>
                        <div class="col-sm-6">
                            <input type="number" id="montoHospedaje" th:value="${montoHospedaje}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Detalle de Costo Extras</label>
                        <div class="col-sm-6">
                            <input type="text" id="detallecostoextra" name="detallecostoextra"
                                   class="form-control"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costo Extras</label>
                        <div class="col-sm-6">
                            <input type="number" id="costoextra" onkeyup="sumar();" name="costoextra" value="0"
                                   class="form-control"  />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costo Total</label>
                        <div class="col-sm-6">
                            <input type="number" id="costototal"  name="costototal" value="0"
                                   class="form-control"  />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tipopago">Medio de Pago</label>
                        <select type="text" class="form-control selectwo" id="tipopago" name="tipopago">
                            <option th:value="${tip.id}" th:each="tip : ${tipoPagos}" th:text="${tip.nombre}" ></option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="submit" th:value="${txtbtn}"
                                   class="btn btn-primary" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
<script>
    function sumar(){
        var costoh = $("#montoHospedaje").val();
        var costoextra = $("#costoextra").val();
        var suma = Number(costoh) + Number(costoextra);

        $("#costototal").val(suma);
    }
</script>
</body>
</html>