<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div th:replace="layout/layout :: alerts"></div>
    <div class="py-4">

        <div class="card bg-light text-black">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <form >
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Identificador de Venta</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${reserva.venta.id}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre Cliente</label>
                        <div class="col-sm-6">
                            <input type="text" th:value="${reserva.cliente.nombre_completo}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">CI Cliente</label>
                        <div class="col-sm-6">
                            <input type="text" th:value="${reserva.cliente.ci}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Check-In</label>
                        <div class="col-sm-6">
                            <input type="date" th:value="${reserva.checkIn}"
                                   class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Check-Out</label>
                        <div class="col-sm-6">
                            <input type="date" th:value="${reserva.checkOut}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Cantidad de Habitaciones</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${reserva.cantidadHabitaciones}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Días de Hospedaje</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${dias}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costo de Hospedaje</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${reserva.venta.costoHospedaje}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Detalle de Costo Extras</label>
                        <div class="col-sm-6">
                            <input type="text" th:value="${reserva.venta.detalleCostoExtra}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costo Extras</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${reserva.venta.costoExtra}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Costo Total</label>
                        <div class="col-sm-6">
                            <input type="number" th:value="${reserva.venta.montoTotal}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Medio de Pago</label>
                        <div class="col-sm-6">
                            <input type="text" th:value="${reserva.venta.tipoPago.nombre}"
                                   class="form-control"  disabled="disabled"/>
                        </div>
                    </div>

                </form>

                <img width="" th:src="@{/images/pagado.png}" style="width: 150px; height: auto" alt="Pagado"/>
                <br />
                <br />
                <a class="btn btn-primary" th:href="@{/admin/venta/listar}">Volver</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>