<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div th:replace="layout/layout :: alerts"></div>
		<div class="py-4">

			<div class="card bg-light text-black">
				<div class="card-header" th:text="${titulo}"></div>
				<div class="card-body">




				<form th:action="@{/tipo/crear}" th:object="${tipo}"
						method="post">
						<input type="hidden" th:field="*{id}" />
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Tipo Habitacion</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{nombre}" class="form-control" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="precio">Precio</label>

							<div class="input-group col-sm-6">
								<div class="input-group-prepend">
									<div class="input-group-text">$</div>
								</div>
								<input type="number" class="form-control" th:field="*{precio}"/>
							</div>

						</div>



						<div class="form-group row">
							<div class="col-sm-6">
								<input type="submit" th:value="${txtbtn}"
									class="btn btn-primary" />
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>