<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div th:replace="layout/layout :: alerts"></div>
    <div class="py-4">

        <div class="card bg-light text-black">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">


                <form th:action="@{/admin/reserva/registrarhb/save/} + ${reserva.id}" method="post" >

                    <div class="shadow-sm p-3 mb-5 bg-white rounded" th:each="hb, iterStat : ${hbreservadas}" th:id="${'formhb'+hb.id}">
                        <h5>Habitación <span th:text="${iterStat.count}"></span></h5>
                        <div class="form-group">
                            <label th:for="${'habitacion'+hb.id}">Tipo de Habitación</label>
                            <select type="text" class="form-control selectwo" th:id="${'habitacion'+hb.id}" th:name="${'habitacion'+hb.id}" placeholder="Tipo de Habitación">
                                <option th:value="${hbd.id}" th:each="hbd : ${hbdisponible}" th:text="${'Número '+hbd.numero+' - Tipo: ' + hbd.tipoHabitacion.nombre}"></option>
                            </select>
                        </div>
                        <input type="hidden" th:value="${#lists.size(hb.huespedes)}" id="canthpd" name="canthpd">
                        <div class="form-row">
                            <a class="btn btn-success" style="color: white;" th:onclick="'agregarhuesped(\'formhb'+${hb.id}+'\');'">Agregar Huésped (+)</a>
                        </div>
                        <br/>
                        <div class="form-row" th:each="hpd : ${hb.huespedes}">
                            <div class="col-md-6 mb-3">
                                <label th:for="${'nombre'+hpd.id}">Nombre Huésped</label>
                                <input type="text" class="form-control" th:value="${hpd.nombre}" th:id="${'nombre'+hpd.id}" th:name="${'nombre'+hpd.id}" placeholder="Nombre Completo" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label th:for="${'ci'+i}">Nombre Huésped</label>
                                <input type="text" class="form-control" th:value="${hpd.ci}" th:id="${'ci'+hpd.id}" th:name="${'ci'+hpd.id}" placeholder="Cédula de Identidad" required>
                            </div>
                            <div class="col-md-2 mb-3" style="text-align: center; padding: 10px;">
                                <a class="btn btn-danger" style="color: white;"  onclick="quitarhuesped(this);">Quitar</a>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">

                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>

<script>
    $(document).ready(function() {
        $('.selectwo').select2();
    });



    function htmlobj(id){
        var htmltxt = "";
        htmltxt += '<div class="form-row" >';
        htmltxt += '<div class="col-md-6 mb-3">';
        htmltxt += '<label th:for="nombre'+id+'">Nombre Huésped</label>';
        htmltxt += '<input type="text" class="form-control" id="nombre'+id+'" name="nombre'+id+'" placeholder="Nombre Completo" required>';
        htmltxt += '</div>';
        htmltxt += '<div class="col-md-4 mb-3">';
        htmltxt += '<label th:for="ci'+id+'">Nombre Huésped</label>';
        htmltxt += '<input type="text" class="form-control" th:id="ci'+id+'" th:name="ci'+id+'" placeholder="Cédula de Identidad" required>';
        htmltxt += '</div>';
        htmltxt += '<div class="col-md-2 mb-3" style="text-align: center; padding: 10px;">';
        htmltxt += '<a class="btn btn-danger" style="color: white;"  onclick="quitarhuesped(this);">Quitar (-)</a>';
        htmltxt += '</div>';
        htmltxt += '</div>';
        return htmltxt;
    }

    function agregarhuesped(iddiv){

        var id = $("#canthpd").val();
        var htmltxt = htmlobj(id);
        $("#"+iddiv).append(htmltxt);
        id++;
        $("#canthpd").val(id);
    }

    function quitarhuesped(elemento){
        var id = $("#canthpd").val();
        id--;
        $("#canthpd").val(id);
        $(elemento).parent().parent().remove();
    }
</script>
</body>
</html>